@import 'variables';

/******* Contact *******/

.contact-wrap {
  text-align: left;
  max-width: $max-width;
  margin: 0 auto;
  h1 {
    margin-bottom: 4rem;
  }
  .btn {
    padding: 1rem 2rem;
    margin-left: auto;
  }
  .contact-form {
    max-width: calc($max-width / 2);
    width: 50%;
    margin-right: 2rem;
    color: $brand-text-soft;
    textarea {
      min-height: 128px;
    }
    .form-row {
      width: 100%;
      display: flex;
      flex-direction: column;
    }
  }
  .contact-form-message {
    padding-right: 2rem;
    width: 50%;
  }
}
