@import 'variables';
@import 'utility';

/******* Contact *******/

.contact-wrap {
  text-align: left;
  max-width: $max-width;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  @extend %main-padding;
  .row {
    display: flex;
    flex-wrap: wrap;
    .contact-form, .contact-form-message {
      width: 100%;
      margin-bottom: 2rem;
      @media #{$tablet}, #{$desktop} {
        width: 50%;
      }
    }
    .contact-form {
      max-width: 40rem;
      color: $brand-text-soft;
      .form-row {
        display: flex;
        flex-direction: column;
        width: 100%;
        .btn {
          max-width: 8rem;
        }
      }
    }
    .contact-form-message {
      @media #{$tablet}, #{$desktop} {
        padding-right: 2rem;
      }
    }
  }
  
}
