@import 'variables';

/******* Links *******/
a {
    text-decoration: none;
    color: $brand-success !important;
    font-weight: 500;
    outline: 0;
}

a:hover {
    text-decoration: underline;
}

a:visited {
    color: inherit;
}


/******* Buttons *******/

button, .btn {
    padding: 1rem 2rem;
    background: $brand-grey;
    box-shadow: 0;
    font-family: "Roboto";
    font-weight: 500;
    font-size: 1rem;
    color: $brand-white;
    cursor: pointer;
    border: 3px solid $brand-white;
    transition: all 0.1s ease-in-out;
    border-radius: $border-radius;
    margin: 0;
}

button:hover, .btn:hover {
    background: $brand-white;
    border: 3px solid $brand-primary;
    color: $brand-primary;
    text-decoration: none;
}

.btn-primary {
    background: $brand-primary;
    color: $brand-white !important;
}

.btn-primary:hover {
    color: $brand-primary !important;
    border: 3px solid $brand-primary;
}

.btn-success {
    background: var($brand-success);
    color: var($brand-white) !important;
}

.btn-success:hover {
    color: $brand-success !important;
    border: 3px solid $brand-success;
}

.btn-danger {
    background: $brand-danger;
    color: $brand-white !important;
}

.btn-danger:hover {
    color: $brand-danger !important;
    border: 3px solid $brand-danger;
}

/******* Cards *******/
.card {
    box-shadow: 0 0 10px 2px $brand-grey;
    padding: 2rem 2rem;
    text-align: center;
}

/******* Logos *******/

.fa-react {
    color: #00d8ff;
}

.fa-sass {
    color: #c69;
}

.fa-less {
    color: #1d365d;
}

.fa-git {
    color: #f34f29;
}

.fa-github {
    color: #171515;
}