@import 'variables';
@import 'utility';

/******* Home page *******/

.index-wrap {
  .index-hero {
    height: 55vh;
    background-image: url("/img/stars.jpg");
    @extend .parallax;
    padding: 10vw 2rem;
    text-align: center;
    max-width: none;
    border-bottom: 1px solid $brand-grey;
    margin-bottom: 3rem;
    display: flex;
    justify-content: center;
    align-items: center;
    h1 {
      color: $brand-white;
      max-width: 768px;
      font-size: 5rem;
    }
  }
}
  
.index-content {
  text-align: left;
  max-width: $max-width;
  margin: 0 auto;
  h1 {
    padding: 0;
    margin: 0;
    margin-bottom: 2rem;
  }
  .index-card {
    border-radius: $border-radius;
    margin-bottom: 4rem;
    padding: 1rem 0;
    h2 {
      margin: 0;
      padding: 0;
      margin-bottom: 2rem;
    }
  }
}