@import url('https://fonts.googleapis.com/css?family=Roboto:300|Roboto:500');

@import 'home';
@import 'portfolio';
@import 'contact';
@import 'elements';
@import 'utility';
@import 'general';
@import 'variables';
@import 'blog';
@import 'underconstruction';
@import '404';

.template-wrapper {
  min-height: 100vh;
}

* {
  box-sizing: border-box;
  margin: 0;
}

* > ::selection {
  background: $brand-selection !important;
  color: $brand-white !important;
}

.main-content {
  width: 100%;
  margin: 0 auto; 
  color: $brand-text;
  min-height: 75vh;
  padding: 0;
}

/******* Header *******/
header {
  background: $brand-success;
  width: 100%;
  box-shadow: 0 -4px 8px 1px $brand-text-soft;
  position: sticky;
  top: 0;
  z-index: 100;
}

.header-wrap {
  display: flex;
  align-items: center;
  align-content: baseline;
  max-width: $max-width;
  margin: 0 auto;
  padding: 16px 0;
}

.header-logo {
  max-height: 2.5rem;
  margin-right: 2rem;
}

.nav-link {
  font-size: 1.5rem;
  color: $brand-white !important;
  font-weight: 300 !important;
  margin-right: 2rem;
  overflow: hidden;
  &:hover {
    text-decoration: none;
  }
}

.nav-link:last-of-type {
  margin-right: 0;
}

.nav-link:active, .nav-link.active, .nav-link:hover {
  text-shadow: 0;
  font-weight: 500 !important;
}

.header-wrap > :last-child {
  margin-left: auto !important;
  margin-right: 0;
}

/******* Footer *******/
footer {
  text-align: center;
  background: $brand-text-soft;
  color: $brand-white !important;
  box-shadow: 0 4px 8px 1px $brand-text-soft;
  width: 100%;
  a {
    font-size: inherit;
  }
}

footer p {
  font-size: 1rem;
  margin-bottom: 0.5rem;
  color: $brand-grey;
}

footer h3 {
  padding-bottom: 0.5rem;
}

.footer-wrap {
  padding: 0.5rem 1rem;
  display: flex;
  align-items: flex-start;
  justify-content: center;
  max-width: $max-width;
  margin: 0 auto;
  flex-wrap: wrap;
  @media #{$desktop} {
    padding: 1rem 0;
  }
}

.footer-left {
  text-align: left;
  padding-right: 2rem;
}

.footer-right {
  text-align: right;
  padding-left: 2rem;
}

.footer-left, .footer-right {
  width: 50%;
  @media #{$phone} {
    width: 100%;
    text-align: left !important;
    margin: 0;
    padding: 0;
  }
}