@import 'variables';

/******* Portfolio *******/

.portfolio-wrap {
  max-width: $max-width;
  margin: 0 auto;
  h1 {
    margin-bottom: 6rem;
    &:first-of-type {
      margin-bottom: 0;
    }
  }
  .portfolio-head {
    margin-bottom: 6rem;
  }
  .portfolio-project-container {
    text-align: left;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 0 auto;
    margin-bottom: 6rem;
  }
  .portfolio-project-card {
    width: 15rem;
    text-align: center;
    margin: 0.5rem 0.5rem;
    padding: 0.5rem 0.5rem;
    height: 10rem;
    color: $brand-primary !important; 
    transition: all 0.1s ease-in;
    background: grey;
    &:hover {
      transform: scale(1.05);
      text-decoration: none !important;
    }
  }
  .portfolio-external-sites-wrap {
    margin-bottom: 6rem;
    .portfolio-external-site {
      text-align: left;
      display: flex;
      justify-content: flex-start;
      margin: 0 auto;
      padding: 1rem;
      border: 2px solid transparent;
      &:hover {
        border: 2px solid $brand-success;
        text-decoration: none;
      }
      div {
        padding: 0;
        padding-left: 2rem;
        width: 100%;
        h2 {
          line-height: 1; 
        }
      }
      img {
        max-width: 96px;
      }
    }
  }
}