@import 'variables';
@import 'utility';

/******* Portfolio *******/

.portfolio-wrap {
  text-align: center;
  h1 {
    margin-bottom: 4rem;
  }
  hr {
    max-width: $max-width;
  }
  > div {
    margin: 0 auto;
    max-width: $max-width;
    padding: 5rem 0;
    margin-bottom: 2rem
  }
  .portfolio-head-bg {
    max-width: 100vw;
    height: 60vh;
    background: $brand-text;
    display: flex;
    flex-direction: column;
    justify-content: center;
    .portfolio-head-main {
      max-width: $max-width;
      margin: 0 auto;
      display: flex;
      flex-direction: column;
      justify-content: center;
      text-align: center;
      h1 {
        margin-top: 0;
        margin-bottom: 2rem;
        font-size: 5rem;
        color: $brand-white;
      }
    }
  }
  .portfolio-projects-wrap {
    max-width: 100vw;
    background: $brand-text;
    color: $brand-grey-light;
    .portfolio-project-container {
      max-width: $max-width;
      margin: 0 auto;
      text-align: left;
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      .portfolio-project-card {
        width: 28rem;
        text-align: center;
        margin: 1rem;
        height: 18rem;
        background: $brand-grey-light;
        display: flex;
        transition: all 0.05s ease-in-out;
        border: 3px solid $brand-grey-dark;
        &:hover {
          > h2 {
            opacity: 1;
          }
        }
        h2 {
          background: $brand-text;
          color: $brand-white;
          margin-top: auto;
          width: 100%;
          padding-bottom: 0;
          opacity: 0;
          transition: all 0.05s ease-in-out;
        }
        &:hover {
          text-decoration: none !important;
        }
      }
    }
    
  }
  .portfolio-skills {
    text-align: center;
    .portfolio-skills-icons {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      width: 100%;
      svg, img {
        margin: 2rem;
        font-size: 8rem;
      }
      img {
        max-width: 8rem;
      }
    }
  }
  .portfolio-external-sites-wrap {
    background: $brand-white;
    max-width: 100vw;
    .portfolio-external-site {
      max-width: $max-width;
      text-align: left;
      display: flex;
      justify-content: flex-start;
      margin: 0 auto;
      padding: 1rem;
      border: 2px solid transparent;
      &:hover {
        border: 2px solid $brand-grey-dark;
        border-radius: $border-radius;
        text-decoration: none;
      }
      div {
        padding: 0;
        padding-left: 2rem;
        width: 100%;
        h2 {
          line-height: 1; 
        }
      }
      img {
        height: 6rem;
      }
    }
  }
  .portfolio-contact {
    .portfolio-contact-resume {
      display: flex;
      justify-content: center;
      align-items: center;
      background: $brand-success;
      padding: 1rem;
      border-radius: $border-radius;
      * {
        font-size: 2rem;
        color: $brand-white;
      }
      svg {
        margin-right: 1rem;
      }
      h2 {
        padding: 0;
      }
      &:hover {
        background: $brand-white;
        border: 2px solid $brand-success;
        text-decoration: none;
        * {
          color: $brand-success;
        }
      }
    }
  }
}