@import 'variables';

.row {
    width: 100%;
    display: flex;
}

.parallax {
    /* Requires image src and height defined */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.attribution {
    text-align: right;
    font-size: 0.9rem;
    font-weight: 500;
}

%main-padding {
    @media #{$phone} {
        padding: 0 1rem;
    }
    @media #{$tablet} {
        padding: 0 2rem;
    }
}