$brand-success: #0ad882;
$brand-primary: #0e3e8c;
$brand-danger: #cc493d;
$brand-text: #011c47;
$brand-text-soft: #364156;
$brand-white: white; 
$brand-grey: #cfd3d1;
$brand-selection: #79a7f2;
$border-radius: 3px;
$brand-font: 'Roboto';
$max-width: 60rem;