$brand-success: #35b269;
$brand-primary: #2274a5;
$brand-danger: #e05263;
$brand-text: #021419;
$brand-text-soft: #0b4f6c;
$brand-white: #fafafa; 
$brand-grey-light: #e6e6e6;
$brand-grey: #ccc;
$brand-grey-dark: #b3b3b3;

$border-radius: 2px;
$brand-font: 'Roboto';
$max-width: 768px;

$phone: "(min-width: 320px) and (max-width: 767px)";
$tablet: "(min-width: 768px) and (max-width: 1024px)";
$desktop: "(min-width: 1025px)";