$brand-success: #4bd886;
$brand-primary: #0e3e8c;
$brand-danger: #cc493d;
$brand-text: #011c47;
$brand-text-soft: #364156;
$brand-white: #fafafa; 
$brand-grey-light: #e6e6e6;
$brand-grey: #ccc;
$brand-grey-dark: #b3b3b3;
$brand-selection: #79a7f2;

$border-radius: 5px;
$brand-font: 'Roboto';
$max-width: 1024px;

$phone: "(min-width: 320px) and (max-width: 767px)";
$tablet: "(min-width: 768px) and (max-width: 1024px)";
$desktop: "(min-width: 1025px)";